# Auto detect text files and perform LF normalization
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
* text eol=lf

# Custom for Visual Studio
*.cs diff=csharp

# Sources
*.C text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text

# Compiled Object files
*.o binary
*.obj binary


# Set lf for sublime files
*.sublime-settings -lf
*.sh -lf


