[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/evandrocoan/SideBarEnhancements
[submodule "BBCode"]
	path = BBCode
	url = https://github.com/evandrocoan/BBCode
[submodule "ANSIescape"]
	path = ANSIescape
	url = https://github.com/evandrocoan/SublimeANSI
[submodule "Package Control"]
	path = Package Control
	url = https://github.com/evandrocoan/package_control
[submodule "Amxx Pawn"]
	path = Amxx Pawn
	url = https://github.com/evandrocoan/SublimeAmxxPawn
[submodule "Notepad++ Theme"]
	path = Notepad++ Theme
	url = https://github.com/evandrocoan/SublimeNotepadPlusPlusTheme
[submodule "Toolbar"]
	path = Toolbar
	url = https://github.com/evandrocoan/SublimeTextToolBar
[submodule "SyncedSideBar"]
	path = SyncedSideBar
	url = https://github.com/evandrocoan/SyncedSideBar
[submodule "Side-by-Side Settings"]
	path = Side-by-Side Settings
	url = https://github.com/evandrocoan/sxs-settings
[submodule "Markdown to BB Code Converter"]
	path = Markdown to BB Code Converter
	url = https://github.com/evandrocoan/SublimeTextMarkdowToBBCode
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = https://github.com/evandrocoan/SublimeCodeIntel
[submodule "BufferScroll"]
	path = BufferScroll
	url = https://github.com/evandrocoan/BufferScroll
[submodule "Preferences Editor"]
	path = Preferences Editor
	url = https://github.com/evandrocoan/SublimePreferencesEditor
[submodule "SublimeREPL"]
	path = SublimeREPL
	url = https://github.com/evandrocoan/SublimeREPL
[submodule ".versioning"]
	path = .versioning
	url = https://github.com/evandrocoan/.versioning
[submodule "PowerCursors"]
	path = PowerCursors
	url = https://github.com/evandrocoan/PowerCursors
[submodule "amxmodx"]
	path = amxmodx
	url = https://github.com/evandrocoan/SublimeAMXX_Editor
