[submodule ".versioning"]
	path = .versioning
	url = https://github.com/evandrocoan/.versioning
[submodule "Packages/Active View Jump Back"]
	path = Packages/Active View Jump Back
	url = https://github.com/evandrocoan/SublimeActiveViewJumpBack
[submodule "Packages/ANSIescape"]
	path = Packages/ANSIescape
	url = https://github.com/evandrocoan/SublimeANSI
[submodule "Packages/Add Folder To Project"]
	path = Packages/Add Folder To Project
	url = https://github.com/evandrocoan/AddFolderToProject-SublimePlugin
[submodule "Packages/Advanced CSV"]
	path = Packages/Advanced CSV
	url = https://github.com/evandrocoan/Sublime-Text-Advanced-CSV
[submodule "Packages/AdvancedNewFile"]
	path = Packages/AdvancedNewFile
	url = https://github.com/evandrocoan/Sublime-AdvancedNewFile
[submodule "Packages/AlignTab"]
	path = Packages/AlignTab
	url = https://github.com/evandrocoan/AlignTab
[submodule "Packages/All Autocomplete"]
	path = Packages/All Autocomplete
	url = https://github.com/evandrocoan/SublimeAllAutocomplete
[submodule "Packages/amxmodx"]
	path = Packages/amxmodx
	url = https://github.com/evandrocoan/SublimeAMXX_Editor
[submodule "Packages/Amxx Pawn"]
	path = Packages/Amxx Pawn
	url = https://github.com/evandrocoan/SublimeAmxxPawn
[submodule "Packages/AutoFileName"]
	path = Packages/AutoFileName
	url = https://github.com/evandrocoan/AutoFileName
[submodule "Packages/BBCode"]
	path = Packages/BBCode
	url = https://github.com/evandrocoan/BBCode
[submodule "Packages/Better CoffeeScript"]
	path = Packages/Better CoffeeScript
	url = https://github.com/evandrocoan/sublime-better-coffeescript
[submodule "Packages/BufferScroll"]
	path = Packages/BufferScroll
	url = https://github.com/evandrocoan/BufferScroll
[submodule "Packages/ChannelRepositoryTools"]
	path = Packages/ChannelRepositoryTools
	url = https://github.com/evandrocoan/ChannelRepositoryTools
[submodule "Packages/Clear Cursors Carets"]
	path = Packages/Clear Cursors Carets
	url = https://github.com/evandrocoan/ClearCursorsCarets
[submodule "Packages/Clipboard Scope Copy"]
	path = Packages/Clipboard Scope Copy
	url = https://github.com/evandrocoan/SublimeClipboardScopeCopy
[submodule "Packages/Color Highlighter"]
	path = Packages/Color Highlighter
	url = https://github.com/evandrocoan/ColorHighlighter
[submodule "Packages/ColorHelper"]
	path = Packages/ColorHelper
	url = https://github.com/evandrocoan/ColorHelper
[submodule "Packages/Compare Side-By-Side"]
	path = Packages/Compare Side-By-Side
	url = https://github.com/evandrocoan/sublime-compare-side-by-side
[submodule "Packages/Copy Filepath With Line Numbers"]
	path = Packages/Copy Filepath With Line Numbers
	url = https://github.com/evandrocoan/CopyFilepathWithLineNumbers
[submodule "Packages/CopyWithLineNumbersReloaded"]
	path = Packages/CopyWithLineNumbersReloaded
	url = https://github.com/evandrocoan/CopyWithLineNumbersReloaded
[submodule "Packages/Default Syntax"]
	path = Packages/Default Syntax
	url = https://github.com/evandrocoan/SublimeDefaultSyntax
[submodule "Packages/DocBlockr"]
	path = Packages/DocBlockr
	url = https://github.com/evandrocoan/SublimeDocBlockr-jsdocs
[submodule "Packages/ExportHtml"]
	path = Packages/ExportHtml
	url = https://github.com/evandrocoan/ExportHtml
[submodule "Packages/ExtendedTabSwitcher"]
	path = Packages/ExtendedTabSwitcher
	url = https://github.com/evandrocoan/SublimeExtendedTabSwitcher
[submodule "Packages/FileDiffs"]
	path = Packages/FileDiffs
	url = https://github.com/evandrocoan/SublimeFileDiffs
[submodule "Packages/FileManager"]
	path = Packages/FileManager
	url = https://github.com/evandrocoan/FileManager
[submodule "Packages/Fix Project Switch Restart Bug"]
	path = Packages/Fix Project Switch Restart Bug
	url = https://github.com/evandrocoan/SublimeFixProjectSwitchRestartBug
[submodule "Packages/Fix Selection After Indent"]
	path = Packages/Fix Selection After Indent
	url = https://github.com/evandrocoan/SublimeFixSelectionAfterIndent
[submodule "Packages/Fixed Selections Clear"]
	path = Packages/Fixed Selections Clear
	url = https://github.com/evandrocoan/SublimeFixedSelectionsClear
[submodule "Packages/Force Rewrite Sublime Settings"]
	path = Packages/Force Rewrite Sublime Settings
	url = https://github.com/evandrocoan/SublimeForceRewriteSublimeSettings
[submodule "Packages/FuzzyFileNav"]
	path = Packages/FuzzyFileNav
	url = https://github.com/evandrocoan/FuzzyFileNav
[submodule "Packages/FuzzyFilePath"]
	path = Packages/FuzzyFilePath
	url = https://github.com/evandrocoan/FuzzyFilePath
[submodule "Packages/Gist"]
	path = Packages/Gist
	url = https://github.com/evandrocoan/Gist
[submodule "Packages/Google Spell Check"]
	path = Packages/Google Spell Check
	url = https://github.com/evandrocoan/google-spell-check
[submodule "Packages/GotoLastEditEnhanced"]
	path = Packages/GotoLastEditEnhanced
	url = https://github.com/evandrocoan/sublime-goto-last-edit-enhanced
[submodule "Packages/Highlight Build Errors"]
	path = Packages/Highlight Build Errors
	url = https://github.com/evandrocoan/SublimeText-HighlightBuildErrors
[submodule "Packages/Hungry Backspace"]
	path = Packages/Hungry Backspace
	url = https://github.com/evandrocoan/Hungry-Backspace
[submodule "Packages/Indent and braces"]
	path = Packages/Indent and braces
	url = https://github.com/evandrocoan/sublime_indent_and_braces
[submodule "Packages/Invert Selection"]
	path = Packages/Invert Selection
	url = https://github.com/evandrocoan/sublime-invert-selection
[submodule "Packages/LaTeXTools"]
	path = Packages/LaTeXTools
	url = https://github.com/evandrocoan/LaTeXTools
[submodule "Packages/Local History"]
	path = Packages/Local History
	url = https://github.com/evandrocoan/local-history
[submodule "Packages/Markdown to BB Code Converter"]
	path = Packages/Markdown to BB Code Converter
	url = https://github.com/evandrocoan/SublimeTextMarkdowToBBCode
[submodule "Packages/MarkdownLight"]
	path = Packages/MarkdownLight
	url = https://github.com/evandrocoan/MarkdownLight
[submodule "Packages/Notepad++ Color Scheme"]
	path = Packages/Notepad++ Color Scheme
	url = https://github.com/evandrocoan/SublimeNotepadPlusPlusTheme
[submodule "Packages/Octave"]
	path = Packages/Octave
	url = https://github.com/evandrocoan/SublimeOctave
[submodule "Packages/Open Auto Completion"]
	path = Packages/Open Auto Completion
	url = https://github.com/evandrocoan/SublimeOpenAutoCompletion
[submodule "Packages/Origami"]
	path = Packages/Origami
	url = https://github.com/evandrocoan/Origami
[submodule "Packages/Override Unpacked Packages"]
	path = Packages/Override Unpacked Packages
	url = https://github.com/evandrocoan/SublimeUnpackedPackagesOverride
[submodule "Packages/Overwrite Commit Completion"]
	path = Packages/Overwrite Commit Completion
	url = https://github.com/evandrocoan/SublimeOverwriteCommitCompletion
[submodule "Packages/Package Control"]
	path = Packages/Package Control
	url = https://github.com/evandrocoan/package_control
[submodule "Packages/PackageDev"]
	path = Packages/PackageDev
	url = https://github.com/evandrocoan/PackageDev
[submodule "Packages/PowerCursors"]
	path = Packages/PowerCursors
	url = https://github.com/evandrocoan/PowerCursors
[submodule "Packages/Preferences Editor"]
	path = Packages/Preferences Editor
	url = https://github.com/evandrocoan/SublimePreferencesEditor
[submodule "Packages/Project Specific Syntax Settings"]
	path = Packages/Project Specific Syntax Settings
	url = https://github.com/evandrocoan/sublime-project-specific-syntax
[submodule "Packages/Rich Plain Text"]
	path = Packages/Rich Plain Text
	url = https://github.com/evandrocoan/SublimeRichPlainText
[submodule "Packages/SQL Keyword Uppercase"]
	path = Packages/SQL Keyword Uppercase
	url = https://github.com/evandrocoan/SublimeSQLKeywordUppercase
[submodule "Packages/Select All Spelling Errors"]
	path = Packages/Select All Spelling Errors
	url = https://github.com/evandrocoan/SublimeSelectAllSpellingErrors
[submodule "Packages/Shell Script"]
	path = Packages/Shell Script
	url = https://github.com/evandrocoan/SublimeShellScript
[submodule "Packages/Side-by-Side Settings"]
	path = Packages/Side-by-Side Settings
	url = https://github.com/evandrocoan/sxs-settings
[submodule "Packages/SideBarEnhancements"]
	path = Packages/SideBarEnhancements
	url = https://github.com/evandrocoan/SideBarEnhancements
[submodule "Packages/Sublime Text Studio"]
	path = Packages/Sublime Text Studio
	url = https://github.com/evandrocoan/SublimeTextStudioChannel
[submodule "Packages/SublimeCodeIntel"]
	path = Packages/SublimeCodeIntel
	url = https://github.com/evandrocoan/SublimeCodeIntel
[submodule "Packages/SublimeREPL"]
	path = Packages/SublimeREPL
	url = https://github.com/evandrocoan/SublimeREPL
[submodule "Packages/SyncedSideBar"]
	path = Packages/SyncedSideBar
	url = https://github.com/evandrocoan/SyncedSideBar
[submodule "Packages/SyntaxManager"]
	path = Packages/SyntaxManager
	url = https://github.com/evandrocoan/SyntaxManager
[submodule "Packages/Text Pastry"]
	path = Packages/Text Pastry
	url = https://github.com/evandrocoan/Text-Pastry
[submodule "Packages/Toolbar"]
	path = Packages/Toolbar
	url = https://github.com/evandrocoan/SublimeTextToolBar
[submodule "Packages/Trimmer"]
	path = Packages/Trimmer
	url = https://github.com/evandrocoan/Trimmer
[submodule "Packages/Uncrustify"]
	path = Packages/Uncrustify
	url = https://github.com/evandrocoan/SublimeUncrustify
[submodule "Packages/View Settings Freely"]
	path = Packages/View Settings Freely
	url = https://github.com/evandrocoan/SublimeViewSettingsFreely
[submodule "Packages/Wrap Plus"]
	path = Packages/Wrap Plus
	url = https://github.com/evandrocoan/Sublime-Wrap-Plus
[submodule "Packages/User/Multilingual Dictionary"]
	path = Packages/User/Multilingual Dictionary
	url = https://github.com/evandrocoan/SublimeMultilingualDictionary
[submodule "Packages/TypeScript"]
	path = Packages/TypeScript
	url = https://github.com/evandrocoan/TypeScript-Sublime-Plugin
[submodule "Packages/Pretty JSON"]
	path = Packages/Pretty JSON
	url = https://github.com/evandrocoan/SublimePrettyJson
