


# Start ignoring things
*.merged-ca-bundle
*.sublime-workspace

/Simple IDE Packages.lnk
/Sublime Text Builds.lnk
/ObjectBeautifier

/.sublime/
/Backup/
/Cache/
/Index/
/KEEPME
/Local/
/Settings/
/Installed Packages/


#
# Files and folders from the sublimehq/Packages
#
/Packages/.git/
/Packages/LICENSE
/Packages/README.md



