


# Start ignoring things
*.merged-ca-bundle

# Hard Symlinks from the github.com/sublimehq/Packages
#
#
# mklink /J D:\User\Dropbox\Applications\SoftwareVersioning\SublimeText\Data\Packages\Matlab\ D:\User\Dropbox\Applications\SoftwareVersioning\Forks\SublimePackagesFork\Matlab
#


# Ignored unpacked packages
/Terminal/*
/Pyyaml/*
/pyyaml/*
/Pyv8/*
/python-markdown/*
/python-jinja2/*
/pygments/*
/mdpopups/*
/markupsafe/*
/bz2/*
/backrefs/*
/ssl-linux/*
/BetterFindBuffer/*
/SQLTools/*
/Anaconda/*
/Syntax Highlighting for Sass/*
/zzz A File Icon zzz/*
/Random Everything/*
/ConvertToUTF8/*
/Sublime Tutor/*

# Added new dependency ignore rule.
# It was not working on linux with git 2.9.3 as just /Pyv8/*, or /Pyv8/linux32-p3/*.
# But on windows with git 2.10, just /Pyv8/* is working to ignore the /Pyv8/win32-p3/ folder.
*/linux32-p3/*

/Simple IDE Packages
/ObjectBeautifier
