


/Package Control.system-ca-bundle

/Package Control.last-run

/Package Control.cache
/Color Highlighter

/Gist.sublime-settings
/Terminal.sublime-settings
/SBSCompare.tmTheme
/Package Control.user-ca-bundle
/.SublimeREPLHistory/*


/FileHistory*.json
/TextPastryHistory.sublime-settings
/encoding_cache.json
/LockTab.sublime-settings
/SublimeNumberKing.sublime-settings
